# Python virtual environment
.venv/

# Python cache
helios_data_analysis/__pycache__/

# Generated plots
*.html
*.pdf

# Avoid committing credentials by accident
credentials.json
.Rproj.user

# Ignore Raw data
r_analysis/raw_data/

# Ignore Processed data
r_analysis/processed_data/

#Ignore R History
.Rhistory/